{% extends "base.html" %}
{% block css %}
  <link rel="stylesheet" type="text/css" href="css/catalog.css">
{% endblock %}
{% block content %}
  <section class="catalog-wrapper container">
		<ul class="breadcrumbs">
			<li><a href="#">Главная</a></li>
			<li>Каталог</li>
		</ul>
    <h2 class="title">Каталог товаров</h2>
    <aside>
      <ul class="catalog-menu">
				<li class="item active">
					<div class="icon"><img src="img/c1.png"></div>
					<a href="#">Вспененные полиэтилен и другие Полиолефины</a>
					<ul class="sub">
						<li><a href="#">Вспененный полиэтилен</a></li>
						<li><a href="#">Вспененный полиолефин</a></li>
						<li><a href="#">Отражающая изоляция</a></li>
					</ul>
				</li>
				<li class="item">
					<div class="icon"><img src="img/c2.png"></div>
					<a href="#">Строительная изоляция</a>
					<ul class="sub">
						<li><a href="#">Рулонный утеплитель</a></li>
						<li><a href="#">Листовой утеплитель</a></li>
					</ul>
				</li>
				<li class="item">
					<div class="icon"><img src="img/c3.png"></div>
					<a href="#">Инженерная изоляция</a>
				</li>
				<li class="item">
					<div class="icon"><img src="img/c4.png"></div>
					<a href="#">Упаковка и транспортировка</a>
					<ul class="sub">
						<li><a href="#">Для транспортировки, перевозки</a></li>
						<li><a href="#">Для защиты изделий</a></li>
					</ul>
				</li>
				<li class="item">
					<div class="icon"><img src="img/c5.png"></div>
					<a href="#">Для спорта и отдыха</a>
					<ul class="sub">
						<li><a href="#">Для плавания, аквааэробика</a></li>
						<li><a href="#">Для спортивных матов и ограждающих конструкций</a></li>
					</ul>
				</li>
				<li class="item">
					<div class="icon"><img src="img/c6.png"></div>
					<a href="#">Ложементы</a>
				</li>
			</ul>
    </aside>
		<div class="catalog-fermers">
			<div class="catalog-fermer">
				<div class="info">
					<div class="name">Вспененный полиэтилен</div>
					<a class="btn" href="#">Смотреть все товары</a>
				</div>
				<div class="catalog is-carousel swiper">
					<div class="swiper-wrapper">
						<div class="catalog-item">
							<div class="img"><img src="img/pr-2.jpg"></div>
							<div class="title">Стенофон 190 ТИП B</div>
							<div class="text">Теплоизоляция под систему «Теплый пол»</div>
							<button class="btn"><div class="icon-search"></div></button>
						</div>
						<div class="catalog-item">
							<div class="img"><picture><source srcset="img/pr-1.jpg" type="image/webp"><img src="img/pr-1.jpg" alt=""></picture></div>
							<div class="title">Стенофон 190 ТИП B</div>
							<div class="text">Теплоизоляция под систему «Теплый пол»</div>
							<button class="btn"><div class="icon-search"></div></button>
						</div>
						<div class="catalog-item">
							<div class="img"><img src="img/pr-3.jpg"></div>
							<div class="title">Стенофон 190 ТИП B</div>
							<div class="text">Теплоизоляция под систему «Теплый пол»</div>
							<button class="btn"><div class="icon-search"></div></button>
						</div>
						<div class="catalog-item">
							<div class="img"><img src="img/pr-2.jpg"></div>
							<div class="title">Стенофон 190 ТИП B</div>
							<div class="text">Теплозвукоизоляция с клеевым слоем</div>
							<button class="btn"><div class="icon-search"></div></button>
						</div>
						<div class="catalog-item">
							<div class="img"><img src="img/pr-3.jpg"></div>
							<div class="title">Стенофон 190 ТИП B</div>
							<div class="text">Теплозвукоизоляция с клеевым слоем</div>
							<button class="btn"><div class="icon-search"></div></button>
						</div>
						<div class="catalog-item">
							<div class="img"><img src="img/pr-2.jpg"></div>
							<div class="title">Стенофон 190 ТИП B</div>
							<div class="text">Теплозвукоизоляция с клеевым слоем</div>
							<button class="btn"><div class="icon-search"></div></button>
						</div>
					</div>
				</div>
				<button class="arrow-left"><div class="icon-arrow"></div></button>
				<button class="arrow-right"><div class="icon-arrow"></div></button>
			</div>
			<div class="catalog-fermer">
				<div class="info">
					<div class="name">Строительная изоляция</div>
					<a class="btn" href="#">Смотреть все товары</a>
				</div>
				<div class="catalog is-carousel swiper">
					<div class="swiper-wrapper">
						<div class="catalog-item">
							<div class="img"><picture><source srcset="img/pr-1.jpg" type="image/webp"><img src="img/pr-1.jpg" alt=""></picture></div>
							<div class="title">Стенофон 190 ТИП B</div>
							<div class="text">Теплозвукоизоляция с клеевым слоем</div>
							<button class="btn"><div class="icon-search"></div></button>
						</div>
						<div class="catalog-item">
							<div class="img"><img src="img/pr-2.jpg"></div>
							<div class="title">Стенофон 190 ТИП B</div>
							<div class="text">Теплозвукоизоляция с клеевым слоем</div>
							<button class="btn"><div class="icon-search"></div></button>
						</div>
						<div class="catalog-item">
							<div class="img"><img src="img/pr-3.jpg"></div>
							<div class="title">Стенофон 190 ТИП B</div>
							<div class="text">Теплозвукоизоляция с клеевым слоем</div>
							<button class="btn"><div class="icon-search"></div></button>
						</div>
						<div class="catalog-item">
							<div class="img"><img src="img/pr-2.jpg"></div>
							<div class="title">Стенофон 190 ТИП B</div>
							<div class="text">Теплозвукоизоляция с клеевым слоем</div>
							<button class="btn"><div class="icon-search"></div></button>
						</div>
						<div class="catalog-item">
							<div class="img"><img src="img/pr-3.jpg"></div>
							<div class="title">Стенофон 190 ТИП B</div>
							<div class="text">Теплозвукоизоляция с клеевым слоем</div>
							<button class="btn"><div class="icon-search"></div></button>
						</div>
						<div class="catalog-item">
							<div class="img"><img src="img/pr-2.jpg"></div>
							<div class="title">Стенофон 190 ТИП B</div>
							<div class="text">Теплозвукоизоляция с клеевым слоем</div>
							<button class="btn"><div class="icon-search"></div></button>
						</div>
					</div>
				</div>
				<button class="arrow-left"><div class="icon-arrow"></div></button>
				<button class="arrow-right"><div class="icon-arrow"></div></button>
			</div>
			<div class="catalog-fermer">
				<div class="info">
					<div class="name">Инженерная изоляция</div>
					<a class="btn" href="#">Смотреть все товары</a>
				</div>
				<div class="catalog is-carousel swiper">
					<div class="swiper-wrapper">
						<div class="catalog-item">
							<div class="img"><img src="img/pr-2.jpg"></div>
							<div class="title">Стенофон 190 ТИП B</div>
							<div class="text">Теплозвукоизоляция с клеевым слоем</div>
							<button class="btn"><div class="icon-search"></div></button>
						</div>
						<div class="catalog-item">
							<div class="img"><picture><source srcset="img/pr-1.jpg" type="image/webp"><img src="img/pr-1.jpg" alt=""></picture></div>
							<div class="title">Стенофон 190 ТИП B</div>
							<div class="text">Теплозвукоизоляция с клеевым слоем</div>
							<button class="btn"><div class="icon-search"></div></button>
						</div>
						<div class="catalog-item">
							<div class="img"><img src="img/pr-3.jpg"></div>
							<div class="title">Стенофон 190 ТИП B</div>
							<div class="text">Теплозвукоизоляция с клеевым слоем</div>
							<button class="btn"><div class="icon-search"></div></button>
						</div>
						<div class="catalog-item">
							<div class="img"><img src="img/pr-2.jpg"></div>
							<div class="title">Стенофон 190 ТИП B</div>
							<div class="text">Теплозвукоизоляция с клеевым слоем</div>
							<button class="btn"><div class="icon-search"></div></button>
						</div>
						<div class="catalog-item">
							<div class="img"><img src="img/pr-3.jpg"></div>
							<div class="title">Стенофон 190 ТИП B</div>
							<div class="text">Теплозвукоизоляция с клеевым слоем</div>
							<button class="btn"><div class="icon-search"></div></button>
						</div>
						<div class="catalog-item">
							<div class="img"><img src="img/pr-2.jpg"></div>
							<div class="title">Стенофон 190 ТИП B</div>
							<div class="text">Теплозвукоизоляция с клеевым слоем</div>
							<button class="btn"><div class="icon-search"></div></button>
						</div>
					</div>
				</div>
				<button class="arrow-left"><div class="icon-arrow"></div></button>
				<button class="arrow-right"><div class="icon-arrow"></div></button>
			</div>
			<div class="catalog-fermer">
				<div class="info">
					<div class="name">Упаковка и транспортировка</div>
					<a class="btn" href="#">Смотреть все товары</a>
				</div>
				<div class="catalog is-carousel swiper">
					<div class="swiper-wrapper">
						<div class="catalog-item">
							<div class="img"><img src="img/pr-3.jpg"></div>
							<div class="title">Стенофон 190 ТИП B</div>
							<div class="text">Теплозвукоизоляция с клеевым слоем</div>
							<button class="btn"><div class="icon-search"></div></button>
						</div>
						<div class="catalog-item">
							<div class="img"><img src="img/pr-2.jpg"></div>
							<div class="title">Стенофон 190 ТИП B</div>
							<div class="text">Теплозвукоизоляция с клеевым слоем</div>
							<button class="btn"><div class="icon-search"></div></button>
						</div>
						<div class="catalog-item">
							<div class="img"><picture><source srcset="img/pr-1.jpg" type="image/webp"><img src="img/pr-1.jpg" alt=""></picture></div>
							<div class="title">Стенофон 190 ТИП B</div>
							<div class="text">Теплозвукоизоляция с клеевым слоем</div>
							<button class="btn"><div class="icon-search"></div></button>
						</div>
						<div class="catalog-item">
							<div class="img"><img src="img/pr-2.jpg"></div>
							<div class="title">Стенофон 190 ТИП B</div>
							<div class="text">Теплозвукоизоляция с клеевым слоем</div>
							<button class="btn"><div class="icon-search"></div></button>
						</div>
						<div class="catalog-item">
							<div class="img"><img src="img/pr-3.jpg"></div>
							<div class="title">Стенофон 190 ТИП B</div>
							<div class="text">Теплозвукоизоляция с клеевым слоем</div>
							<button class="btn"><div class="icon-search"></div></button>
						</div>
						<div class="catalog-item">
							<div class="img"><img src="img/pr-2.jpg"></div>
							<div class="title">Стенофон 190 ТИП B</div>
							<div class="text">Теплозвукоизоляция с клеевым слоем</div>
							<button class="btn"><div class="icon-search"></div></button>
						</div>
					</div>
				</div>
				<button class="arrow-left"><div class="icon-arrow"></div></button>
				<button class="arrow-right"><div class="icon-arrow"></div></button>
			</div>
			<div class="catalog-fermer">
				<div class="info">
					<div class="name">Для спорта и отдыха</div>
					<a class="btn" href="#">Смотреть все товары</a>
				</div>
				<div class="catalog is-carousel swiper">
					<div class="swiper-wrapper">
						<div class="catalog-item">
							<div class="img"><img src="img/pr-2.jpg"></div>
							<div class="title">Стенофон 190 ТИП B</div>
							<div class="text">Теплозвукоизоляция с клеевым слоем</div>
							<button class="btn"><div class="icon-search"></div></button>
						</div>
						<div class="catalog-item">
							<div class="img"><img src="img/pr-3.jpg"></div>
							<div class="title">Стенофон 190 ТИП B</div>
							<div class="text">Теплозвукоизоляция с клеевым слоем</div>
							<button class="btn"><div class="icon-search"></div></button>
						</div>
						<div class="catalog-item">
							<div class="img"><picture><source srcset="img/pr-1.jpg" type="image/webp"><img src="img/pr-1.jpg" alt=""></picture></div>
							<div class="title">Стенофон 190 ТИП B</div>
							<div class="text">Теплозвукоизоляция с клеевым слоем</div>
							<button class="btn"><div class="icon-search"></div></button>
						</div>
						<div class="catalog-item">
							<div class="img"><img src="img/pr-2.jpg"></div>
							<div class="title">Стенофон 190 ТИП B</div>
							<div class="text">Теплозвукоизоляция с клеевым слоем</div>
							<button class="btn"><div class="icon-search"></div></button>
						</div>
						<div class="catalog-item">
							<div class="img"><img src="img/pr-3.jpg"></div>
							<div class="title">Стенофон 190 ТИП B</div>
							<div class="text">Теплозвукоизоляция с клеевым слоем</div>
							<button class="btn"><div class="icon-search"></div></button>
						</div>
						<div class="catalog-item">
							<div class="img"><img src="img/pr-2.jpg"></div>
							<div class="title">Стенофон 190 ТИП B</div>
							<div class="text">Теплозвукоизоляция с клеевым слоем</div>
							<button class="btn"><div class="icon-search"></div></button>
						</div>
					</div>
				</div>
				<button class="arrow-left"><div class="icon-arrow"></div></button>
				<button class="arrow-right"><div class="icon-arrow"></div></button>
			</div>
		</div>
  </section>
{% endblock %}
{% block modal %}

{% endblock %}
{% block js %}
<script src="js/swiper.js"></script>
<script src="js/catalog.js"></script>
{% endblock %}
