{% extends "base.html" %}
{% block css %}
  <link rel="stylesheet" type="text/css" href="css/main.css">
{% endblock %}
{% block content %}
  <section class="slider swiper">
    <div class="slider-items swiper-wrapper">
      <div class="slider-item swiper-slide item">
        <div class="img">
          <img src="img/slide-1.jpg">
        </div>
        <div class="container">
          <div class="title">Вспененные полиэтилен и другие Полиолефины</div>
          <a class="btn" href="#">Перейти в каталог</a>
        </div>
      </div>
      <div class="slider-item swiper-slide item">
        <div class="img">
          <img src="img/slide-1.jpg">
        </div>
        <div class="container">
          <div class="title">Строительная изоляция</div>
          <a class="btn" href="#">Перейти в каталог</a>
        </div>
      </div>
      <div class="slider-item swiper-slide item">
        <div class="img">
          <img src="img/slide-1.jpg">
        </div>
        <div class="container">
          <div class="title">Инженерная изоляция</div>
          <a class="btn" href="#">Перейти в каталог</a>
        </div>
      </div>
    </div>
    <div class="slider-bullets"></div>
    <button class="arrow-left"><div class="icon-arrow"></div></button>
    <button class="arrow-right"><div class="icon-arrow"></div></button>
  </section>
  <section class="nearby container">
    <h2 class="title h2">Изоляционный материал</h2>
    <div class="filter">
      <div class="item active">Вспененные полиэтилен</div>
      <div class="item">Строительная изоляция</div>
      <div class="item">Инженерная изоляция</div>
      <div class="item">Упаковка и транспортировка</div>
      <div class="item">Для спорта и отдыха</div>
      <div class="item">Ложементы</div>
    </div>
    <div class="catalog">
      <div class="catalog-item">
        <div class="img"><img src="img/pr-1.jpg"></div>
        <div class="title">Стенофлекс 400</div>
        <div class="text">Подложка под напольные покрытия</div>
        <button class="btn"><div class="icon-search"></div></button>
      </div>
      <div class="catalog-item">
        <div class="img"><img src="img/pr-2.jpg"></div>
        <div class="title">Стенофлекс 4000</div>
        <div class="text">Подложка под напольные покрытия</div>
        <button class="btn"><div class="icon-search"></div></button>
      </div>
      <div class="catalog-item">
        <div class="img"><img src="img/pr-3.jpg"></div>
        <div class="title">Стенофлекс 10500</div>
        <div class="text">Подложка под напольные покрытия</div>
        <button class="btn"><div class="icon-search"></div></button>
      </div>
      <div class="catalog-item">
        <div class="img"><img src="img/pr-1.jpg"></div>
        <div class="title">Стенофон Sport</div>
        <div class="text">Подложка под напольные покрытия</div>
        <button class="btn"><div class="icon-search"></div></button>
      </div>
      <div class="catalog-item">
        <div class="img"><img src="img/pr-2.jpg"></div>
        <div class="title">Стенофон Sport</div>
        <div class="text">Подложка под напольные покрытия</div>
        <button class="btn"><div class="icon-search"></div></button>
      </div>
      <div class="catalog-item">
        <div class="img"><img src="img/pr-3.jpg"></div>
        <div class="title">Стенофон Acoustic Vent</div>
        <div class="text">Подложка под напольные покрытия</div>
        <button class="btn"><div class="icon-search"></div></button>
      </div>
      <div class="catalog-item">
        <div class="img"><img src="img/pr-1.jpg"></div>
        <div class="title">Стенофон Acoustic Vent</div>
        <div class="text">Подложка под напольные покрытия</div>
        <button class="btn"><div class="icon-search"></div></button>
      </div>
      <div class="catalog-item">
        <div class="img"><img src="img/pr-2.jpg"></div>
        <div class="title">Стенофон Acoustic Vent</div>
        <div class="text">Подложка под напольные покрытия</div>
        <button class="btn"><div class="icon-search"></div></button>
      </div>
      <div class="catalog-item">
        <div class="img"><img src="img/pr-1.jpg"></div>
        <div class="title">Стенофон Acoustic Vent</div>
        <div class="text">Подложка под напольные покрытия</div>
        <button class="btn"><div class="icon-search"></div></button>
      </div>
      <div class="catalog-item">
        <div class="img"><img src="img/pr-2.jpg"></div>
        <div class="title">Стенофон Acoustic Vent</div>
        <div class="text">Подложка под напольные покрытия</div>
        <button class="btn"><div class="icon-search"></div></button>
      </div>
    </div>
  </section>
  <section class="how container">
    <div class="title h2">Почему нас выбирают</div>
    <div class="item item-1">
      <div class="icon"><img src="img/like-1.png"></div>
      Мы производители
    </div>
    <div class="item item-2">
      <div class="icon"><img src="img/like-1.png"></div>
      Индивидуальные заказы
    </div>
    <div class="item item-3">
      <div class="icon"><img src="img/like-1.png"></div>
      Гибкие условия сотрудничества
    </div>
    <div class="item item-4">
      <div class="icon"><img src="img/like-1.png"></div>
      Мы работаем более 16 лет
    </div>
    <div class="item item-5">
      <div class="icon"><img src="img/like-1.png"></div>
      Срок службы нашей продукции
    </div>
    <div class="item item-6">
      <div class="icon"><img src="img/like-1.png"></div>
      Экологически чистая изоляция
    </div>
  </section>
  <!-- <section class="new-fermers container">
    <div class="title h2">Новые фермеры</div>
    <div class="new-fermers-carousel swiper">
      <div class="swiper-wrapper">
        <div class="new-fermers-item swiper-slide item" data-tab-index="tab-1">
          <div class="img">
            <img src="img/fermer-1.jpg">
          </div>
          <div class="name">Сергей и Галина Васнецовы</div>
          <div class="city" href="#">Подольск</div>
        </div>
        <div class="new-fermers-item swiper-slide item" data-tab-index="tab-2">
          <div class="img">
            <img src="img/fermer-2.jpg">
          </div>
          <div class="name">Сергей и Галина Васнецовы</div>
          <div class="city" href="#">Подольск</div>
        </div>
        <div class="new-fermers-item swiper-slide item" data-tab-index="tab-3">
          <div class="img">
            <img src="img/fermer-3.jpg">
          </div>
          <div class="name">Сергей и Галина Васнецовы</div>
          <div class="city" href="#">Подольск</div>
        </div>
        <div class="new-fermers-item swiper-slide item" data-tab-index="tab-4">
          <div class="img">
            <img src="img/fermer-4.jpg">
          </div>
          <div class="name">Сергей и Галина Васнецовы</div>
          <div class="city" href="#">Подольск</div>
        </div>
        <div class="new-fermers-item swiper-slide item" data-tab-index="tab-5">
          <div class="img">
            <img src="img/fermer-5.jpg">
          </div>
          <div class="name">Сергей и Галина Васнецовы</div>
          <div class="city" href="#">Подольск</div>
        </div>
        <div class="new-fermers-item swiper-slide item" data-tab-index="tab-6">
          <div class="img">
            <img src="img/fermer-2.jpg">
          </div>
          <div class="name">Сергей и Галина Васнецовы</div>
          <div class="city" href="#">Подольск</div>
        </div>
      </div>
    </div>
    <button class="arrow-left"><div class="icon-arrow"></div></button>
    <button class="arrow-right"><div class="icon-arrow"></div></button>
    <div class="new-fermers-content tab-1 active">
      <div class="text">
        <p>Хозяйство Евгения начиналось с заброшенной фермы со старыми коровниками и заросшими полями. Коровники переделали под корпуса для птицы с отоплением, подачей воды и специальными выходами на улицу. Каждый корпус...</p>
      </div>
      <a class="btn" href="#">Перейти в магазин</a>
      <div class="address">Санкт-Петербург, ул. Садовая, 28к1</div>
      <div class="catalog">
        <div class="catalog-item">
          <div class="img"><img src="img/item-1.jpg"></div>
          <div class="title">Яйца деревенские</div>
          <div class="count">10 штук</div>
          <div class="price">1 760₽ <div class="price-old">1 900 ₽</div></div>
          <button class="btn"></button>
        </div>
        <div class="catalog-item">
          <div class="img"><img src="img/item-2.jpg"></div>
          <div class="title">Яйца деревенские</div>
          <div class="count">10 штук</div>
          <div class="price">1 620₽ <div class="price-old">1 800 ₽</div></div>
          <button class="btn"></button>
        </div>
        <div class="catalog-item">
          <div class="img"><img src="img/item-3.jpg"></div>
          <div class="title">Яйца деревенские</div>
          <div class="count">10 штук</div>
          <div class="price">1 760₽ <div class="price-old">1 900 ₽</div></div>
          <button class="btn"></button>
        </div>
        <div class="catalog-item">
          <div class="img"><img src="img/item-4.jpg"></div>
          <div class="title">Яйца деревенские</div>
          <div class="count">10 штук</div>
          <div class="price">1 760₽ <div class="price-old">1 900 ₽</div></div>
          <button class="btn"></button>
        </div>
        <div class="catalog-item">
          <div class="img"><img src="img/item-5.jpg"></div>
          <div class="title">Яйца деревенские</div>
          <div class="count">10 штук</div>
          <div class="price">1 760₽ <div class="price-old">1 900 ₽</div></div>
          <button class="btn"></button>
        </div>
        <div class="catalog-item">
          <div class="img"><img src="img/item-3.jpg"></div>
          <div class="title">Яйца деревенские</div>
          <div class="count">10 штук</div>
          <div class="price">1 760₽ <div class="price-old">1 900 ₽</div></div>
          <button class="btn"></button>
        </div>
        <div class="catalog-item">
          <div class="img"><img src="img/item-1.jpg"></div>
          <div class="title">Яйца деревенские</div>
          <div class="count">10 штук</div>
          <div class="price">1 760₽ <div class="price-old">1 900 ₽</div></div>
          <button class="btn"></button>
        </div>
        <div class="catalog-item">
          <div class="img"><img src="img/item-2.jpg"></div>
          <div class="title">Яйца деревенские</div>
          <div class="count">10 штук</div>
          <div class="price">1 760₽ <div class="price-old">1 900 ₽</div></div>
          <button class="btn"></button>
        </div>
        <div class="catalog-item">
          <div class="img"><img src="img/item-5.jpg"></div>
          <div class="title">Яйца деревенские</div>
          <div class="count">10 штук</div>
          <div class="price">1 760₽ <div class="price-old">1 900 ₽</div></div>
          <button class="btn"></button>
        </div>
        <div class="catalog-item">
          <div class="img"><img src="img/item-4.jpg"></div>
          <div class="title">Яйца деревенские</div>
          <div class="count">10 штук</div>
          <div class="price">1 760₽ <div class="price-old">1 900 ₽</div></div>
          <button class="btn"></button>
        </div>
      </div>
    </div>
    <div class="new-fermers-content tab-2">
      <div class="text">
        <p>Хозяйство Евгения начиналось с заброшенной фермы со старыми коровниками и заросшими полями. Коровники переделали под корпуса для птицы с отоплением, подачей воды и специальными выходами на улицу. Каждый корпус...</p>
      </div>
      <a class="btn" href="#">Перейти в магазин</a>
      <div class="address">Санкт-Петербург, ул. Садовая, 28к1</div>
      <div class="catalog">
        <div class="catalog-item">
          <div class="img"><img src="img/item-1.jpg"></div>
          <div class="title">Яйца деревенские</div>
          <div class="count">10 штук</div>
          <div class="price">1 760₽ <div class="price-old">1 900 ₽</div></div>
          <button class="btn"></button>
        </div>
        <div class="catalog-item">
          <div class="img"><img src="img/item-2.jpg"></div>
          <div class="title">Яйца деревенские</div>
          <div class="count">10 штук</div>
          <div class="price">1 760₽ <div class="price-old">1 900 ₽</div></div>
          <button class="btn"></button>
        </div>
        <div class="catalog-item">
          <div class="img"><img src="img/item-5.jpg"></div>
          <div class="title">Яйца деревенские</div>
          <div class="count">10 штук</div>
          <div class="price">1 760₽ <div class="price-old">1 900 ₽</div></div>
          <button class="btn"></button>
        </div>
        <div class="catalog-item">
          <div class="img"><img src="img/item-4.jpg"></div>
          <div class="title">Яйца деревенские</div>
          <div class="count">10 штук</div>
          <div class="price">1 760₽ <div class="price-old">1 900 ₽</div></div>
          <button class="btn"></button>
        </div>
        <div class="catalog-item">
          <div class="img"><img src="img/item-1.jpg"></div>
          <div class="title">Яйца деревенские</div>
          <div class="count">10 штук</div>
          <div class="price">1 760₽ <div class="price-old">1 900 ₽</div></div>
          <button class="btn"></button>
        </div>
        <div class="catalog-item">
          <div class="img"><img src="img/item-2.jpg"></div>
          <div class="title">Яйца деревенские</div>
          <div class="count">10 штук</div>
          <div class="price">1 620₽ <div class="price-old">1 800 ₽</div></div>
          <button class="btn"></button>
        </div>
        <div class="catalog-item">
          <div class="img"><img src="img/item-3.jpg"></div>
          <div class="title">Яйца деревенские</div>
          <div class="count">10 штук</div>
          <div class="price">1 760₽ <div class="price-old">1 900 ₽</div></div>
          <button class="btn"></button>
        </div>
        <div class="catalog-item">
          <div class="img"><img src="img/item-4.jpg"></div>
          <div class="title">Яйца деревенские</div>
          <div class="count">10 штук</div>
          <div class="price">1 760₽ <div class="price-old">1 900 ₽</div></div>
          <button class="btn"></button>
        </div>
        <div class="catalog-item">
          <div class="img"><img src="img/item-5.jpg"></div>
          <div class="title">Яйца деревенские</div>
          <div class="count">10 штук</div>
          <div class="price">1 760₽ <div class="price-old">1 900 ₽</div></div>
          <button class="btn"></button>
        </div>
        <div class="catalog-item">
          <div class="img"><img src="img/item-3.jpg"></div>
          <div class="title">Яйца деревенские</div>
          <div class="count">10 штук</div>
          <div class="price">1 760₽ <div class="price-old">1 900 ₽</div></div>
          <button class="btn"></button>
        </div>
      </div>
    </div>
    <div class="new-fermers-content tab-3">
      <div class="text">
        <p>Хозяйство Евгения начиналось с заброшенной фермы со старыми коровниками и заросшими полями. Коровники переделали под корпуса для птицы с отоплением, подачей воды и специальными выходами на улицу. Каждый корпус...</p>
      </div>
      <a class="btn" href="#">Перейти в магазин</a>
      <div class="address">Санкт-Петербург, ул. Садовая, 28к1</div>
      <div class="catalog">
        <div class="catalog-item">
          <div class="img"><img src="img/item-2.jpg"></div>
          <div class="title">Яйца деревенские</div>
          <div class="count">10 штук</div>
          <div class="price">1 620₽ <div class="price-old">1 800 ₽</div></div>
          <button class="btn"></button>
        </div>
        <div class="catalog-item">
          <div class="img"><img src="img/item-3.jpg"></div>
          <div class="title">Яйца деревенские</div>
          <div class="count">10 штук</div>
          <div class="price">1 760₽ <div class="price-old">1 900 ₽</div></div>
          <button class="btn"></button>
        </div>
        <div class="catalog-item">
          <div class="img"><img src="img/item-1.jpg"></div>
          <div class="title">Яйца деревенские</div>
          <div class="count">10 штук</div>
          <div class="price">1 760₽ <div class="price-old">1 900 ₽</div></div>
          <button class="btn"></button>
        </div>
        <div class="catalog-item">
          <div class="img"><img src="img/item-2.jpg"></div>
          <div class="title">Яйца деревенские</div>
          <div class="count">10 штук</div>
          <div class="price">1 760₽ <div class="price-old">1 900 ₽</div></div>
          <button class="btn"></button>
        </div>
        <div class="catalog-item">
          <div class="img"><img src="img/item-5.jpg"></div>
          <div class="title">Яйца деревенские</div>
          <div class="count">10 штук</div>
          <div class="price">1 760₽ <div class="price-old">1 900 ₽</div></div>
          <button class="btn"></button>
        </div>
        <div class="catalog-item">
          <div class="img"><img src="img/item-4.jpg"></div>
          <div class="title">Яйца деревенские</div>
          <div class="count">10 штук</div>
          <div class="price">1 760₽ <div class="price-old">1 900 ₽</div></div>
          <button class="btn"></button>
        </div>
        <div class="catalog-item">
          <div class="img"><img src="img/item-1.jpg"></div>
          <div class="title">Яйца деревенские</div>
          <div class="count">10 штук</div>
          <div class="price">1 760₽ <div class="price-old">1 900 ₽</div></div>
          <button class="btn"></button>
        </div>
        <div class="catalog-item">
          <div class="img"><img src="img/item-4.jpg"></div>
          <div class="title">Яйца деревенские</div>
          <div class="count">10 штук</div>
          <div class="price">1 760₽ <div class="price-old">1 900 ₽</div></div>
          <button class="btn"></button>
        </div>
      </div>
    </div>
    <div class="new-fermers-content tab-4">
      <div class="text">
        <p>Хозяйство Евгения начиналось с заброшенной фермы со старыми коровниками и заросшими полями. Коровники переделали под корпуса для птицы с отоплением, подачей воды и специальными выходами на улицу. Каждый корпус...</p>
      </div>
      <a class="btn" href="#">Перейти в магазин</a>
      <div class="address">Санкт-Петербург, ул. Садовая, 28к1</div>
      <div class="catalog">
        <div class="catalog-item">
          <div class="img"><img src="img/item-1.jpg"></div>
          <div class="title">Яйца деревенские</div>
          <div class="count">10 штук</div>
          <div class="price">1 760₽ <div class="price-old">1 900 ₽</div></div>
          <button class="btn"></button>
        </div>
        <div class="catalog-item">
          <div class="img"><img src="img/item-4.jpg"></div>
          <div class="title">Яйца деревенские</div>
          <div class="count">10 штук</div>
          <div class="price">1 760₽ <div class="price-old">1 900 ₽</div></div>
          <button class="btn"></button>
        </div>
        <div class="catalog-item">
          <div class="img"><img src="img/item-2.jpg"></div>
          <div class="title">Яйца деревенские</div>
          <div class="count">10 штук</div>
          <div class="price">1 620₽ <div class="price-old">1 800 ₽</div></div>
          <button class="btn"></button>
        </div>
        <div class="catalog-item">
          <div class="img"><img src="img/item-3.jpg"></div>
          <div class="title">Яйца деревенские</div>
          <div class="count">10 штук</div>
          <div class="price">1 760₽ <div class="price-old">1 900 ₽</div></div>
          <button class="btn"></button>
        </div>
        <div class="catalog-item">
          <div class="img"><img src="img/item-1.jpg"></div>
          <div class="title">Яйца деревенские</div>
          <div class="count">10 штук</div>
          <div class="price">1 760₽ <div class="price-old">1 900 ₽</div></div>
          <button class="btn"></button>
        </div>
        <div class="catalog-item">
          <div class="img"><img src="img/item-2.jpg"></div>
          <div class="title">Яйца деревенские</div>
          <div class="count">10 штук</div>
          <div class="price">1 760₽ <div class="price-old">1 900 ₽</div></div>
          <button class="btn"></button>
        </div>
      </div>
    </div>
    <div class="new-fermers-content tab-5">
      <div class="text">
        <p>Хозяйство Евгения начиналось с заброшенной фермы со старыми коровниками и заросшими полями. Коровники переделали под корпуса для птицы с отоплением, подачей воды и специальными выходами на улицу. Каждый корпус...</p>
      </div>
      <a class="btn" href="#">Перейти в магазин</a>
      <div class="address">Санкт-Петербург, ул. Садовая, 28к1</div>
      <div class="catalog">
        <div class="catalog-item">
          <div class="img"><img src="img/item-3.jpg"></div>
          <div class="title">Яйца деревенские</div>
          <div class="count">10 штук</div>
          <div class="price">1 760₽ <div class="price-old">1 900 ₽</div></div>
          <button class="btn"></button>
        </div>
        <div class="catalog-item">
          <div class="img"><img src="img/item-1.jpg"></div>
          <div class="title">Яйца деревенские</div>
          <div class="count">10 штук</div>
          <div class="price">1 760₽ <div class="price-old">1 900 ₽</div></div>
          <button class="btn"></button>
        </div>
        <div class="catalog-item">
          <div class="img"><img src="img/item-2.jpg"></div>
          <div class="title">Яйца деревенские</div>
          <div class="count">10 штук</div>
          <div class="price">1 760₽ <div class="price-old">1 900 ₽</div></div>
          <button class="btn"></button>
        </div>
        <div class="catalog-item">
          <div class="img"><img src="img/item-1.jpg"></div>
          <div class="title">Яйца деревенские</div>
          <div class="count">10 штук</div>
          <div class="price">1 760₽ <div class="price-old">1 900 ₽</div></div>
          <button class="btn"></button>
        </div>
        <div class="catalog-item">
          <div class="img"><img src="img/item-4.jpg"></div>
          <div class="title">Яйца деревенские</div>
          <div class="count">10 штук</div>
          <div class="price">1 760₽ <div class="price-old">1 900 ₽</div></div>
          <button class="btn"></button>
        </div>
        <div class="catalog-item">
          <div class="img"><img src="img/item-2.jpg"></div>
          <div class="title">Яйца деревенские</div>
          <div class="count">10 штук</div>
          <div class="price">1 620₽ <div class="price-old">1 800 ₽</div></div>
          <button class="btn"></button>
        </div>
      </div>
    </div>
    <div class="new-fermers-content tab-6">
      <div class="text">
        <p>Хозяйство Евгения начиналось с заброшенной фермы со старыми коровниками и заросшими полями. Коровники переделали под корпуса для птицы с отоплением, подачей воды и специальными выходами на улицу. Каждый корпус...</p>
      </div>
      <a class="btn" href="#">Перейти в магазин</a>
      <div class="address">Санкт-Петербург, ул. Садовая, 28к1</div>
      <div class="catalog">
        <div class="catalog-item">
          <div class="img"><img src="img/item-2.jpg"></div>
          <div class="title">Яйца деревенские</div>
          <div class="count">10 штук</div>
          <div class="price">1 760₽ <div class="price-old">1 900 ₽</div></div>
          <button class="btn"></button>
        </div>
        <div class="catalog-item">
          <div class="img"><img src="img/item-3.jpg"></div>
          <div class="title">Яйца деревенские</div>
          <div class="count">10 штук</div>
          <div class="price">1 760₽ <div class="price-old">1 900 ₽</div></div>
          <button class="btn"></button>
        </div>
        <div class="catalog-item">
          <div class="img"><img src="img/item-1.jpg"></div>
          <div class="title">Яйца деревенские</div>
          <div class="count">10 штук</div>
          <div class="price">1 760₽ <div class="price-old">1 900 ₽</div></div>
          <button class="btn"></button>
        </div>
        <div class="catalog-item">
          <div class="img"><img src="img/item-1.jpg"></div>
          <div class="title">Яйца деревенские</div>
          <div class="count">10 штук</div>
          <div class="price">1 760₽ <div class="price-old">1 900 ₽</div></div>
          <button class="btn"></button>
        </div>
        <div class="catalog-item">
          <div class="img"><img src="img/item-4.jpg"></div>
          <div class="title">Яйца деревенские</div>
          <div class="count">10 штук</div>
          <div class="price">1 760₽ <div class="price-old">1 900 ₽</div></div>
          <button class="btn"></button>
        </div>
        <div class="catalog-item">
          <div class="img"><img src="img/item-2.jpg"></div>
          <div class="title">Яйца деревенские</div>
          <div class="count">10 штук</div>
          <div class="price">1 620₽ <div class="price-old">1 800 ₽</div></div>
          <button class="btn"></button>
        </div>
      </div>
    </div>
  </section> -->
  <!-- <section class="banner container" style="background-image: url(img/banner.jpg)">
    <div class="title">Начните зарабатывать со своего урожая вместе с A-Flexом!</div>
    <a class="btn" href="#">Открыть свой магазин</a>
  </section> -->
  <section class="info container">
    <div class="title">О продукции</div>
    <div class="text">
      <p>Инновационные технологии и методы производства</p>
    </div>
    <div class="info-items">
      <div class="item item-1">
        <div class="icon"><img src="img/like-1.png"></div>
        <div class="subtitle">Материалы </div>
        <div class="text">Все изоляционные материалы «СТЕНОФОН» и «СТЕНОФЛЕКС» успешно прошли специализированные испытания</div>
      </div>
      <div class="item item-2">
        <div class="icon"><img src="img/like-1.png"></div>
        <div class="subtitle">Материалы </div>
        <div class="text">Все изоляционные материалы «СТЕНОФОН» и «СТЕНОФЛЕКС» успешно прошли специализированные испытания</div>
      </div>
      <div class="item item-3">
        <div class="icon"><img src="img/like-1.png"></div>
        <div class="subtitle">Материалы </div>
        <div class="text">Все изоляционные материалы «СТЕНОФОН» и «СТЕНОФЛЕКС» успешно прошли специализированные испытания</div>
      </div>
      <div class="item item-4">
        <div class="icon"><img src="img/like-1.png"></div>
        <div class="subtitle">Материалы </div>
        <div class="text">Все изоляционные материалы «СТЕНОФОН» и «СТЕНОФЛЕКС» успешно прошли специализированные испытания</div>
      </div>
    </div>
  </section>
  <!-- <section class="reviews container">
    <div class="reviews-carousel swiper">
      <div class="swiper-wrapper">
        <div class="reviews-item swiper-slide item">
          <div class="stars">
            <div class="star"></div><div class="star"></div><div class="star"></div><div class="star"></div><div class="star"></div>
          </div>
          <div class="title">Сергей и Галина Васнецовы</div>
          <div class="text">
            Хозяйство Евгения начиналось с заброшенной фермы со старыми коровниками и заросшими полями. Коровники переделали под корпуса для птицы с отоплением, подачей воды и специальными выходами на улицу. Каждый корпус поделён на отдельные комнатки, в которых птенцы размещены по возрасту. Так, в отсеке с малышами поддерживается температура 25-30 градусов и совсем нет сквозняков, в таких условиях исключается возможность заболевания...
          </div>
          <a class="link" href="#">Перейти в магазин фермера</a>
        </div>
        <div class="reviews-item swiper-slide item">
          <div class="stars">
            <div class="star"></div><div class="star"></div><div class="star"></div><div class="star"></div>
          </div>
          <div class="title">Сергей и Галина Васнецовы</div>
          <div class="text">
            Хозяйство Евгения начиналось с заброшенной фермы со старыми коровниками и заросшими полями. Коровники переделали под корпуса для птицы с отоплением, подачей воды и специальными выходами на улицу. Каждый корпус поделён на отдельные комнатки, в которых птенцы размещены по возрасту. Так, в отсеке с малышами поддерживается температура 25-30 градусов и совсем нет сквозняков, в таких условиях исключается возможность заболевания...
          </div>
          <a class="link" href="#">Перейти в магазин фермера</a>
        </div>
        <div class="reviews-item swiper-slide item">
          <div class="stars">
            <div class="star"></div><div class="star"></div><div class="star"></div><div class="star"></div><div class="star"></div>
          </div>
          <div class="title">Сергей и Галина Васнецовы</div>
          <div class="text">
            Хозяйство Евгения начиналось с заброшенной фермы со старыми коровниками и заросшими полями. Коровники переделали под корпуса для птицы с отоплением, подачей воды и специальными выходами на улицу. Каждый корпус поделён на отдельные комнатки, в которых птенцы размещены по возрасту. Так, в отсеке с малышами поддерживается температура 25-30 градусов и совсем нет сквозняков, в таких условиях исключается возможность заболевания...
          </div>
          <a class="link" href="#">Перейти в магазин фермера</a>
        </div>
        <div class="reviews-item swiper-slide item">
          <div class="stars">
            <div class="star"></div><div class="star"></div><div class="star"></div><div class="star"></div><div class="star"></div>
          </div>
          <div class="title">Сергей и Галина Васнецовы</div>
          <div class="text">
            Хозяйство Евгения начиналось с заброшенной фермы со старыми коровниками и заросшими полями. Коровники переделали под корпуса для птицы с отоплением, подачей воды и специальными выходами на улицу. Каждый корпус поделён на отдельные комнатки, в которых птенцы размещены по возрасту. Так, в отсеке с малышами поддерживается температура 25-30 градусов и совсем нет сквозняков, в таких условиях исключается возможность заболевания...
          </div>
          <a class="link" href="#">Перейти в магазин фермера</a>
        </div>
      </div>
    </div>
    <div class="reviews-peoples">
      <div class="item">
        <div class="img"><img src="img/review-people-1.jpg"></div>
        <div class="name">Аскар Ильясов</div>
        <div class="city">Подольск</div>
      </div>
      <div class="item">
        <div class="img"><img src="img/review-people-2.jpg"></div>
        <div class="name">Никита Ефремов</div>
        <div class="city">Подольск</div>
      </div>
      <div class="item">
        <div class="img"><img src="img/review-people-3.jpg"></div>
        <div class="name">Елизавета Шакира</div>
        <div class="city">Подольск</div>
      </div>
      <div class="item">
        <div class="img"><img src="img/review-people-4.jpg"></div>
        <div class="name">Евгения Манджиева</div>
        <div class="city">Подольск</div>
      </div>
    </div>
    <div class="reviews-bullets"></div>
    <button class="arrow-left"><div class="icon-arrow"></div></button>
    <button class="arrow-right"><div class="icon-arrow"></div></button>
  </section> -->
{% endblock %}
{% block modal %}

{% endblock %}
{% block js %}
<script src="js/swiper.js"></script>
<script src="js/main.js"></script>
{% endblock %}
