{% extends "base.html" %}
{% block css %}
  <link rel="stylesheet" type="text/css" href="css/main.css">
{% endblock %}
{% block logo %}<img src="img/logo-white.png">{% endblock %}
{% block content %}
  <section class="slider swiper">
    <div class="slider-items swiper-wrapper">
      <div class="slider-item swiper-slide item">
        <div class="img">
          <img src="img/slide-1.jpg">
        </div>
        <div class="container">
          <div class="title">Вспененные полиэтилен и другие Полиолефины</div>
          <a class="btn" href="#">Перейти в каталог</a>
        </div>
      </div>
      <div class="slider-item swiper-slide item">
        <div class="img">
          <img src="img/slide-1.jpg">
        </div>
        <div class="container">
          <div class="title">Строительная изоляция</div>
          <a class="btn" href="#">Перейти в каталог</a>
        </div>
      </div>
      <div class="slider-item swiper-slide item">
        <div class="img">
          <img src="img/slide-1.jpg">
        </div>
        <div class="container">
          <div class="title">Инженерная изоляция</div>
          <a class="btn" href="#">Перейти в каталог</a>
        </div>
      </div>
    </div>
    <div class="slider-bullets"></div>
    <button class="arrow-left"><div class="icon-arrow"></div></button>
    <button class="arrow-right"><div class="icon-arrow"></div></button>
  </section>
  <section class="catalog-main container">
    <h2 class="title h2">Изоляционный материал</h2>
    <div class="filter">
      <div class="item active" data-tab-index="tab-1">Вспененные полиэтилен</div>
      <div class="item" data-tab-index="tab-2">Строительная изоляция</div>
      <div class="item" data-tab-index="tab-3">Инженерная изоляция</div>
      <div class="item" data-tab-index="tab-4">Упаковка и транспортировка</div>
      <div class="item" data-tab-index="tab-5">Для спорта и отдыха</div>
      <div class="item" data-tab-index="tab-6">Ложементы</div>
    </div>
    <div class="catalog tab-1 active">
      <div class="catalog-item">
        <div class="img"><img src="img/pr-1.jpg"></div>
        <div class="title">Стенофлекс 400</div>
        <div class="text">Подложка под напольные покрытия</div>
        <button class="btn"><div class="icon-search"></div></button>
      </div>
      <div class="catalog-item">
        <div class="img"><img src="img/pr-2.jpg"></div>
        <div class="title">Стенофлекс 4000</div>
        <div class="text">Подложка под напольные покрытия</div>
        <button class="btn"><div class="icon-search"></div></button>
      </div>
      <div class="catalog-item">
        <div class="img"><img src="img/pr-3.jpg"></div>
        <div class="title">Стенофлекс 10500</div>
        <div class="text">Подложка под напольные покрытия</div>
        <button class="btn"><div class="icon-search"></div></button>
      </div>
      <div class="catalog-item">
        <div class="img"><img src="img/pr-1.jpg"></div>
        <div class="title">Стенофон Sport</div>
        <div class="text">Подложка под напольные покрытия</div>
        <button class="btn"><div class="icon-search"></div></button>
      </div>
      <div class="catalog-item">
        <div class="img"><img src="img/pr-2.jpg"></div>
        <div class="title">Стенофон Sport</div>
        <div class="text">Подложка под напольные покрытия</div>
        <button class="btn"><div class="icon-search"></div></button>
      </div>
      <div class="catalog-item">
        <div class="img"><img src="img/pr-3.jpg"></div>
        <div class="title">Стенофон Acoustic Vent</div>
        <div class="text">Подложка под напольные покрытия</div>
        <button class="btn"><div class="icon-search"></div></button>
      </div>
      <div class="catalog-item">
        <div class="img"><img src="img/pr-1.jpg"></div>
        <div class="title">Стенофон Acoustic Vent</div>
        <div class="text">Подложка под напольные покрытия</div>
        <button class="btn"><div class="icon-search"></div></button>
      </div>
      <div class="catalog-item">
        <div class="img"><img src="img/pr-2.jpg"></div>
        <div class="title">Стенофон Acoustic Vent</div>
        <div class="text">Подложка под напольные покрытия</div>
        <button class="btn"><div class="icon-search"></div></button>
      </div>
      <div class="catalog-item">
        <div class="img"><img src="img/pr-1.jpg"></div>
        <div class="title">Стенофон Acoustic Vent</div>
        <div class="text">Подложка под напольные покрытия</div>
        <button class="btn"><div class="icon-search"></div></button>
      </div>
      <div class="catalog-item">
        <div class="img"><img src="img/pr-2.jpg"></div>
        <div class="title">Стенофон Acoustic Vent</div>
        <div class="text">Подложка под напольные покрытия</div>
        <button class="btn"><div class="icon-search"></div></button>
      </div>
    </div>
    <div class="catalog tab-2">
      <div class="catalog-item">
        <div class="img"><img src="img/pr-1.jpg"></div>
        <div class="title">Стенофлекс 400</div>
        <div class="text">Подложка под напольные покрытия</div>
        <button class="btn"><div class="icon-search"></div></button>
      </div>
      <div class="catalog-item">
        <div class="img"><img src="img/pr-2.jpg"></div>
        <div class="title">Стенофлекс 4000</div>
        <div class="text">Подложка под напольные покрытия</div>
        <button class="btn"><div class="icon-search"></div></button>
      </div>
      <div class="catalog-item">
        <div class="img"><img src="img/pr-3.jpg"></div>
        <div class="title">Стенофлекс 10500</div>
        <div class="text">Подложка под напольные покрытия</div>
        <button class="btn"><div class="icon-search"></div></button>
      </div>
      <div class="catalog-item">
        <div class="img"><img src="img/pr-1.jpg"></div>
        <div class="title">Стенофон Sport</div>
        <div class="text">Подложка под напольные покрытия</div>
        <button class="btn"><div class="icon-search"></div></button>
      </div>
      <div class="catalog-item">
        <div class="img"><img src="img/pr-2.jpg"></div>
        <div class="title">Стенофон Sport</div>
        <div class="text">Подложка под напольные покрытия</div>
        <button class="btn"><div class="icon-search"></div></button>
      </div>
      <div class="catalog-item">
        <div class="img"><img src="img/pr-3.jpg"></div>
        <div class="title">Стенофон Acoustic Vent</div>
        <div class="text">Подложка под напольные покрытия</div>
        <button class="btn"><div class="icon-search"></div></button>
      </div>
      <div class="catalog-item">
        <div class="img"><img src="img/pr-1.jpg"></div>
        <div class="title">Стенофон Acoustic Vent</div>
        <div class="text">Подложка под напольные покрытия</div>
        <button class="btn"><div class="icon-search"></div></button>
      </div>
    </div>
    <div class="catalog tab-3">
      <div class="catalog-item">
        <div class="img"><img src="img/pr-2.jpg"></div>
        <div class="title">Стенофлекс 4000</div>
        <div class="text">Подложка под напольные покрытия</div>
        <button class="btn"><div class="icon-search"></div></button>
      </div>
      <div class="catalog-item">
        <div class="img"><img src="img/pr-3.jpg"></div>
        <div class="title">Стенофлекс 10500</div>
        <div class="text">Подложка под напольные покрытия</div>
        <button class="btn"><div class="icon-search"></div></button>
      </div>
      <div class="catalog-item">
        <div class="img"><img src="img/pr-1.jpg"></div>
        <div class="title">Стенофон Sport</div>
        <div class="text">Подложка под напольные покрытия</div>
        <button class="btn"><div class="icon-search"></div></button>
      </div>
      <div class="catalog-item">
        <div class="img"><img src="img/pr-2.jpg"></div>
        <div class="title">Стенофон Sport</div>
        <div class="text">Подложка под напольные покрытия</div>
        <button class="btn"><div class="icon-search"></div></button>
      </div>
      <div class="catalog-item">
        <div class="img"><img src="img/pr-3.jpg"></div>
        <div class="title">Стенофон Acoustic Vent</div>
        <div class="text">Подложка под напольные покрытия</div>
        <button class="btn"><div class="icon-search"></div></button>
      </div>
      <div class="catalog-item">
        <div class="img"><img src="img/pr-1.jpg"></div>
        <div class="title">Стенофон Acoustic Vent</div>
        <div class="text">Подложка под напольные покрытия</div>
        <button class="btn"><div class="icon-search"></div></button>
      </div>
    </div>
    <div class="catalog tab-4">
      <div class="catalog-item">
        <div class="img"><img src="img/pr-1.jpg"></div>
        <div class="title">Стенофлекс 400</div>
        <div class="text">Подложка под напольные покрытия</div>
        <button class="btn"><div class="icon-search"></div></button>
      </div>
      <div class="catalog-item">
        <div class="img"><img src="img/pr-3.jpg"></div>
        <div class="title">Стенофлекс 10500</div>
        <div class="text">Подложка под напольные покрытия</div>
        <button class="btn"><div class="icon-search"></div></button>
      </div>
      <div class="catalog-item">
        <div class="img"><img src="img/pr-1.jpg"></div>
        <div class="title">Стенофон Sport</div>
        <div class="text">Подложка под напольные покрытия</div>
        <button class="btn"><div class="icon-search"></div></button>
      </div>
      <div class="catalog-item">
        <div class="img"><img src="img/pr-2.jpg"></div>
        <div class="title">Стенофон Sport</div>
        <div class="text">Подложка под напольные покрытия</div>
        <button class="btn"><div class="icon-search"></div></button>
      </div>
      <div class="catalog-item">
        <div class="img"><img src="img/pr-3.jpg"></div>
        <div class="title">Стенофон Acoustic Vent</div>
        <div class="text">Подложка под напольные покрытия</div>
        <button class="btn"><div class="icon-search"></div></button>
      </div>
      <div class="catalog-item">
        <div class="img"><img src="img/pr-1.jpg"></div>
        <div class="title">Стенофон Acoustic Vent</div>
        <div class="text">Подложка под напольные покрытия</div>
        <button class="btn"><div class="icon-search"></div></button>
      </div>
    </div>
    <div class="catalog tab-5">
      <div class="catalog-item">
        <div class="img"><img src="img/pr-1.jpg"></div>
        <div class="title">Стенофлекс 400</div>
        <div class="text">Подложка под напольные покрытия</div>
        <button class="btn"><div class="icon-search"></div></button>
      </div>
      <div class="catalog-item">
        <div class="img"><img src="img/pr-2.jpg"></div>
        <div class="title">Стенофлекс 4000</div>
        <div class="text">Подложка под напольные покрытия</div>
        <button class="btn"><div class="icon-search"></div></button>
      </div>
      <div class="catalog-item">
        <div class="img"><img src="img/pr-2.jpg"></div>
        <div class="title">Стенофон Sport</div>
        <div class="text">Подложка под напольные покрытия</div>
        <button class="btn"><div class="icon-search"></div></button>
      </div>
      <div class="catalog-item">
        <div class="img"><img src="img/pr-3.jpg"></div>
        <div class="title">Стенофон Acoustic Vent</div>
        <div class="text">Подложка под напольные покрытия</div>
        <button class="btn"><div class="icon-search"></div></button>
      </div>
      <div class="catalog-item">
        <div class="img"><img src="img/pr-1.jpg"></div>
        <div class="title">Стенофон Acoustic Vent</div>
        <div class="text">Подложка под напольные покрытия</div>
        <button class="btn"><div class="icon-search"></div></button>
      </div>
    </div>
    <div class="catalog tab-6">
      <div class="catalog-item">
        <div class="img"><img src="img/pr-1.jpg"></div>
        <div class="title">Стенофон Sport</div>
        <div class="text">Подложка под напольные покрытия</div>
        <button class="btn"><div class="icon-search"></div></button>
      </div>
      <div class="catalog-item">
        <div class="img"><img src="img/pr-2.jpg"></div>
        <div class="title">Стенофон Sport</div>
        <div class="text">Подложка под напольные покрытия</div>
        <button class="btn"><div class="icon-search"></div></button>
      </div>
      <div class="catalog-item">
        <div class="img"><img src="img/pr-3.jpg"></div>
        <div class="title">Стенофон Acoustic Vent</div>
        <div class="text">Подложка под напольные покрытия</div>
        <button class="btn"><div class="icon-search"></div></button>
      </div>
      <div class="catalog-item">
        <div class="img"><img src="img/pr-1.jpg"></div>
        <div class="title">Стенофон Acoustic Vent</div>
        <div class="text">Подложка под напольные покрытия</div>
        <button class="btn"><div class="icon-search"></div></button>
      </div>
    </div>
  </section>
  <section class="how container">
    <div class="title h2">Почему нас выбирают</div>
    <div class="item item-1">
      <div class="icon"><img src="img/why-1.png"></div>
      Мы производители
    </div>
    <div class="item item-2">
      <div class="icon"><img src="img/why-2.png"></div>
      Индивидуальные заказы
    </div>
    <div class="item item-3">
      <div class="icon"><img src="img/why-3.png"></div>
      Гибкие условия сотрудничества
    </div>
    <div class="item item-4">
      <div class="icon"><img src="img/why-4.png"></div>
      Мы работаем более 16 лет
    </div>
    <div class="item item-5">
      <div class="icon"><img src="img/why-5.png"></div>
      Срок службы нашей продукции
    </div>
    <div class="item item-6">
      <div class="icon"><img src="img/why-6.png"></div>
      Экологически чистая изоляция
    </div>
  </section>
  <!-- <section class="banner container" style="background-image: url(img/banner.jpg)">
    <div class="title">Начните зарабатывать со своего урожая вместе с A-Flexом!</div>
    <a class="btn" href="#">Открыть свой магазин</a>
  </section> -->
  <section class="info container">
    <div class="title">О продукции</div>
    <div class="text">
      <p>Инновационные технологии и методы производства</p>
      <p>Материалы ПОЛИФАС для профессионального строительства - выбор экспертов и гарант надежной изоляции при любом уровне сложности работ.</p>
      <p>Продукция под товарными знаками "СТЕНОФЛЕКС" и "СТЕНОФОН" из вспененного полиэтилена на рынке уже более 15 лет и хорошо известна специалистам по вентиляции и отоплению, инженерным системам и акустике.</p>
    </div>
    <div class="text is-border">
      <p>Все изоляционные материалы «СТЕНОФОН» и «СТЕНОФЛЕКС» успешно прошли специализированные испытания в аккредитованных центрах, а также обладают соответствующими сертификатами качества.</p>
    </div>
  </section>
  <section class="news container">
    <div class="title">Новости</div>
    <div class="news-items news-carousel swiper">
      <div class="swiper-wrapper">
        <div class="item news-item item-1">
          <div class="data">30.05.2022</div>
          <div class="subtitle">Продукция компании «Полифас» была представлена на выставке MosBuild</div>
          <div class="text">Продукция компании «Полифас» была представлена на крупнейшей в России международной выставке строительных и отделочных материалов MosBuild</div>
        </div>
        <div class="item news-item item-2">
          <div class="data">02.06.2022</div>
          <div class="subtitle">Компания «ПЛП «Полифас» инвестирует 70 млн рублей в..</div>
          <div class="text">Компания представила собственную продукцию торговых марок «Стенофлекс» и «Стенофон» для строительства и инженерных коммуникаций.</div>
        </div>
        <div class="item news-item item-3">
          <div class="data">04.06.2022</div>
          <div class="subtitle">Компания ПОЛИФАС приняла участие в форуме «ARMY 2018»</div>
          <div class="text">Продукция компании «Полифас» была представлена на крупнейшей в России международной выставке строительных и отделочных материалов MosBuild</div>
        </div>
        <div class="item news-item item-4">
          <div class="data">20.06.2022</div>
          <div class="subtitle">ООО "ПЛП "Полифас" приступила к проектированию нового завода..</div>
          <div class="text">Продукция компании «Полифас» была представлена на крупнейшей в России международной выставке строительных и отделочных материалов MosBuild</div>
        </div>
      </div>
    </div>
  </section>
{% endblock %}
{% block modal %}

{% endblock %}
{% block js %}
<script src="js/swiper.js"></script>
<script src="js/main.js"></script>
{% endblock %}
